<div class="container">
  <%= bootstrap_form_for(@project) do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :description %>
    <%= f.file_field :images, multiple: true %>

    <%= f.submit %>
  <% end %>
</div>