<div class="container">
  <%= bootstrap_form_for @project, :html => {multipart: true} do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :description %>

    <% if @project.photos.any? %>
      <% @project.photos.each do |photo| %>
        <%= image_tag(photo.image_url(:thumb)) %>
      <% end %>
    <% end %>

    <%= file_field_tag "images[]", type: :file, multiple: true %>

    <%= f.submit %>
  <% end %>
</div>
