<div class="container">
  <h1 class="text-center"><%= @project.name %></h1>
  <%= link_to 'Back', projects_path %>

  <div class="row" style="padding: 0px 15px;">
    <div class="col-md-6">
      <%= @project.description %>
    </div>
    <div class="col-md-6">
      <div class="img img-responsive">
        <%= image_tag @project.photos.first.image_url.to_s, class: "img img-responsive" %>
      </div>
    </div>
  </div>
  <br/>
  <%# link_to 'Delete', project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete #{@project.name}?" } %>

  <% @project.photos.uniq.each do |photo| %>
  <div class="col-md-4">
    <div class="img img-responsive">
        <%= image_tag photo.image_url, class: "img img-responsive" %>
    </div>
    <%= link_to 'delete', photo, method: :delete %>
  </div>
  <% end %>

</div>